<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <form>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido">
        <label for="edad">Edad</label>
        <input type="number" id="edad" name="edad">
        <button id = "botonCrear"> Crear </button>
    </form>
</body>
<script src='../../static/js/personas/crear-personas.js'></script>
</html>