<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/css/personas/index.css'>
</head>
<body>
    <h1> Personas </h1>
    <table class = "tablaPersonas"> 
        <tr>
            <th> Nombre </th>
            <th> Apellido </th>
            <th> Edad </th>
            <th> Acciones </th>
        </tr>
    
    </table>

</body>   
 <script src='../../static/js/personas/index.js'></script>
</html>