<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
   <h1> Persona </h1>
    <h2> Nombre: <span id="span-Nombre"></span></h2>
    <h2> Apellido: <span id="span-Apellido"></span></h2>
    <h2> Edad: <span id="span-Edad"></span></h2>
    <a href = "./index.html" > 
      
        <button id = "botonVolver"> volver </button>
    </a>

</body>
  <script src='../../static/js/personas/ver-persona.js'></script>
</html>